.App {
  text-align: center;
}
.carousel {
  width: auto;
  height: auto;
}
.container {
  display: grid;
  grid-template-columns: 200px 1fr 50px 50px;
  grid-template-rows: 100px 1fr 1fr 1fr 150px;
}
.item1 {
  background-color: rgb(85, 236, 85);
  font-size: 50px;
  text-align: center;
  grid-column: 1/5;
  grid-row: 1/2;
  border: 1px solid black;
}
.item2 {
  background-color: rgb(166, 215, 228);
  text-align: center;
  text-decoration: none;
  grid-column: 1/2;
  grid-row: 2/6;
  border: 1px solid black;
}
#photos {
  padding: 5px 10px 5px 10px;
  background-color: rgb(121, 154, 204);
}
#categories {
  padding-top: 10px;
  padding-bottom: 100px;

}
.item3 {
  background-color: rgb(107, 110, 105);
  
  grid-column: 2/5;
  grid-row: 2/5;
  border: 1px solid black;
}
.item4 {
  background-color: rgb(128, 193, 223);
  grid-column: 2/5;
  grid-row: 5/6;
  border: 1px solid black;
}
